body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 32px;
    /* position: absolute; */
}
header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-bottom: 24px;
}
#start{
    position: fixed;
    z-index: 1;
    padding: 100%;
    font-size: 80px;
    border: none;
    transform: translate(-50%,-45%);
    background-color: rgb(141, 211, 255,0.8);
}
#cloud{
    position: fixed;
    z-index: 2;
    top: 10px;
    width: 400px;
    height: 300px;
}
#mcloud{
    position: fixed;
    z-index: 2;
    top: 400px;
    left: 140px;
    width: 400px;
    height: 300px;
}
/* 画像のパスを指定 */
#batterbox {
    cursor: url(../img/ball.jpg),auto;
    display: flex;
    justify-content: center;
}
#particles-js{ 
    position:fixed;
    z-index:-1;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    opacity: 0; 
  } 
.ban {
    display: flex;
    flex-wrap:wrap;
    margin: 0 auto;
    justify-content: center;
}
.radius {
    position: relative;
    width: 0;
    height: 0;
    border: 240px solid transparent;
    border-top: 240px solid rgb(89, 255, 0);
    border-radius: 100%;
}

#base {
    position: absolute;
    top: -80px;
    left: -80px;
    width: 0;
    height: 0;
    border: 80px solid transparent;
    border-top: 80px solid rgba(198, 83, 2, 0.938);
    border-radius: 100%;
}
#twobase{
    position: absolute;
    font-size: 16px;
    background-color: rgb(193, 250, 250);
    top: -210px;
    left: -120px;
}
#threebase{
    position: absolute;
    font-size: 16px;
    background-color: rgb(193, 250, 250);
    top: -190px;
    left: 90px;
}
#shit{
    position: absolute;
    font-size: 16px;
    background-color: rgb(193, 250, 250);
    top: -124px;
    left: -12px;
}
#flyball{
    position: absolute;
    font-size: 16px;
    background-color: rgb(250, 144, 144);
    top: -170px;
    left: -20px;
}
#grounder{
    position: absolute;
    font-size: 16px;
    background-color: rgb(250, 144, 144);
    top: -77px;
    left: -35px;
}
.batter{
    width: 120px;
    height: 240px;
}
/* .gage {
    width: 200px;
  }
.gage-item {
    width: 0;
    height: 24px;
    background-color: #f9ff57;
  } */
footer {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

ul {
    padding: 0;
    /* border-top: 1px solid #000000; */
    /* display:table;  /* 定義 */
    /* table-layout: fixed; */
    width: 100%;
    text-align: center;
}

li {
    list-style-type: none;
    border: 1px solid #666;
    background-color: #FFF;
    /* display:table-cell;  定義 */
}

li:hover {
    background: #0066CC;
    color: #fff;
}

.top {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.under {
    display: flex;
    justify-content: center;
}